@import "tailwindcss";
body {
  background-color: white;
}
body {
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
@theme inline {
  --font-sans: var(--font-outfit);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
}